body{
    background-color: rgb(22, 13, 63);
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
 }
 .container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: rgb(159, 196, 224);
    margin-left: 33%;
    margin-top: 5px;
 }
 input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(2, 8, 32);
    outline: none;
    font-size: 19px;


 }
 button{
    width: 60px;
    height: 41px;
    background-color: rgba(60, 13, 148, 0.966);
    color: white;
    border: 2px solid rgb(15, 11, 8));
    cursor: pointer;

    outline: none;
    border-radius: 2px;
    font-size: 19px;
 }
 .text ul{
    position: relative;
    background-color: rgb(60, 13, 148);
    color: white;
    font-size: 19px;
    padding: 7px;
    text-align: left;
 }
 .text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
 }










